body {
  background-color: orange;
}

header {
  display: flex;
  justify-content: center;
}

.title {
  font-family: sans-serif;
  font-size: 70px;
  align-self: center;
}

.input {
  width: 400px;
  height: 30px;
  font-size: 20px;
  border-radius: 3px;
}

.add,
.remove {
  width: 100px;
  height: 70px;
  border-radius: 5px;
  font-size: 15px;
  margin-right: 20px;
  margin-left: 10px;
  border: 3px solid black;
}

.add:hover,
.remove:hover {
  background-color: black;
  color: white;
  border: 3px solid white;
}
.all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box {
  margin-top: 20px;
}

.box2 {
  display: flex;
  justify-content: center;
}
ul {
  align-self: center;
  height: 20px;
  align-items: center;
  font-weight: 100;
}

li {
  font-size: 15px;
}
.p {
  font-size: 20px;
  align-self: center;
}
